body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="file"], input[type="number"], select {
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
}

.response-message {
  color: green;
  text-align: center;
}

.chart-container {
  width: 90%;
  margin: auto;
}

.table-container {
  margin: 20px;
}

.center-button {
  display: block; /* Дозволяє контролювати вирівнювання */
  margin: 20px auto; /* Вирівнює по центру горизонтально та додає відступ зверху і знизу */
  padding: 10px 20px; /* Задає внутрішні відступи */
  font-size: 16px; /* Розмір тексту */
  background-color: #4CAF50; /* Колір кнопки */
  color: white; /* Колір тексту */
  border: none; /* Забирає рамку */
  border-radius: 5px; /* Задає закруглені кути */
  cursor: pointer; /* Вказує, що елемент клікабельний */
  text-align: center; /* Центрує текст */
  transition: background-color 0.3s; /* Плавний перехід кольору при наведенні */
}

.center-button:hover {
  background-color: #45a049; /* Змінює колір при наведенні */
}


.clustering-table {
  width: 100%;
  border-collapse: collapse;
}

.clustering-table th, .clustering-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.clustering-table th {
  background-color: #f4f4f4;
}
