/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

/* For forms */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="file"], input[type="number"], select {
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Error and response messages */
.error-message {
  color: red;
  text-align: center;
}

.response-message {
  color: green;
  text-align: center;
}

/* Chart container */
.chart-container {
  width: 90%;
  margin: auto;
}

/* Table container */
.table-container {
  margin: 20px;
}

.center-button {
  display: block; /* Дозволяє контролювати вирівнювання */
  margin: 20px auto; /* Вирівнює по центру горизонтально та додає відступ зверху і знизу */
  padding: 10px 20px; /* Задає внутрішні відступи */
  font-size: 16px; /* Розмір тексту */
  color: white; /* Колір тексту */
  border: none; /* Забирає рамку */
  border-radius: 5px; /* Задає закруглені кути */
  cursor: pointer; /* Вказує, що елемент клікабельний */
  text-align: center; /* Центрує текст */
  transition: background-color 0.3s; /* Плавний перехід кольору при наведенні */
}

.clustering-table {
  width: 100%;
  border-collapse: collapse;
}

.clustering-table th, .clustering-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.clustering-table th {
  background-color: #f4f4f4;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
}

.tab-button.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
